<% extend('layout') %>
<% if (locals.tag) { %>
<h1>タグ: <%= tag %></h1>
<% } %>

<% if (locals.value) { %>
<h1>「<%= value %>」を検索　<%= meta.length %>件Hit!</h1>
<% } %>

  <% for(let i = 0; i < meta.length; i++) { %>
  <div class="row">
    <div class="col-lg-6">
        <div class="epTitle"><a href=/abemabase/detail/<%= meta[i]._id %>><%= meta[i].epTitle %></a></div>
        <div class="epDec"><a href=/abemabase/detail/<%= meta[i]._id %>><%= meta[i].epDec %></a></div>
    </div>
  </div>
  <% } %>